body {
    background:#F2EFE4;
    font-family:Arial, Helvetica, sans-serif;  
}

.assignment {
    display:flex;
    padding: 10px;
    margin:10px;
    background:#BFA995;
    border-radius:10px;

}


.assignment img{
    width:200px;
    margin: 10px;
    border:4px solid #FFF;

}

.assignment img:hover {
    border:4px dashed #403735;
}

h1 {
    color: #403735;
    text-align:center;
}

h1:hover {
    color: #A68572;
}

a {
    text-decoration:none;
    color:#FFF;

}

a:hover {
    color:#403735
}